extends ../layout

block content

	.add-entry

		ul

			li
				a(class ='btn btn-primary ae' href = '/art/country/' + country.name.toLowerCase()) Art

			li
				a(class ='btn btn-primary ae' href = '/book/country/' + country.name.toLowerCase()) Book

			li
				a(class ='btn btn-primary ae' href = '/dress/country/' + country.name.toLowerCase()) Dress

			li
				a(class ='btn btn-primary ae' href = '/festival/country/' + country.name.toLowerCase()) Festival

			li
				a(class ='btn btn-primary ae' href = '/folktale/country/' + country.name.toLowerCase()) Folktale

			li
				a(class ='btn btn-primary ae' href = '/food/country/' + country.name.toLowerCase()) Food

			li
				a(class ='btn btn-primary ae' href = '/history/country/' + country.name.toLowerCase()) History

			li
				a(class ='btn btn-primary ae' href = '/individual/country/' + country.name.toLowerCase()) Individual

			li
				a(class ='btn btn-primary ae' href = '/law/country/' + country.name.toLowerCase()) Law

			li
				a(class ='btn btn-primary ae' href = '/life/country/' + country.name.toLowerCase()) Life

			li
				a(class ='btn btn-primary ae' href = '/mythology/country/' + country.name.toLowerCase()) Mythology

			li
				a(class ='btn btn-primary ae' href = '/photo/country/' + country.name.toLowerCase()) Photo

			li
				a(class ='btn btn-primary ae' href = '/religion/country/' + country.name.toLowerCase()) Religion

			li
				a(class ='btn btn-primary ae' href = '/sound/country/' + country.name.toLowerCase()) Sound

			li
				a(class ='btn btn-primary ae' href = '/video/country/' + country.name.toLowerCase()) Video
