extends ../layout

block content

	.add-entry

		ul

			li
				a(class ='btn btn-primary ae' href = '/art/nation/' + eyon.eyon.toLowerCase()) Art

			li
				a(class ='btn btn-primary ae' href = '/book/nation/' + eyon.eyon.toLowerCase()) Book

			li
				a(class ='btn btn-primary ae' href = '/dress/nation/' + eyon.eyon.toLowerCase()) Dress

			li
				a(class ='btn btn-primary ae' href = '/festival/nation/' + eyon.eyon.toLowerCase()) Festival

			li
				a(class ='btn btn-primary ae' href = '/folktale/nation/' + eyon.eyon.toLowerCase()) Folktale

			li
				a(class ='btn btn-primary ae' href = '/food/nation/' + eyon.eyon.toLowerCase()) Food

			li
				a(class ='btn btn-primary ae' href = '/history/nation/' + eyon.eyon.toLowerCase()) History

			li
				a(class ='btn btn-primary ae' href = '/individual/nation/' + eyon.eyon.toLowerCase()) Individual

			li
				a(class ='btn btn-primary ae' href = '/law/nation/' + eyon.eyon.toLowerCase()) Law

			li
				a(class ='btn btn-primary ae' href = '/legend/nation/' + eyon.eyon.toLowerCase()) Legend

			li
				a(class ='btn btn-primary ae' href = '/life/nation/' + eyon.eyon.toLowerCase()) Life

			li
				a(class ='btn btn-primary ae' href = '/mythology/nation/' + eyon.eyon.toLowerCase()) Mythology

			li
				a(class ='btn btn-primary ae' href = '/name/nation/' + eyon.eyon.toLowerCase()) Name

			li
				a(class ='btn btn-primary ae' href = '/photo/nation/' + eyon.eyon.toLowerCase()) Photo

			li
				a(class ='btn btn-primary ae' href = '/proverb/nation/' + eyon.eyon.toLowerCase()) Proverb

			li
				a(class ='btn btn-primary ae' href = '/religion/nation/' + eyon.eyon.toLowerCase()) Religion

			li
				a(class ='btn btn-primary ae' href = '/sound/nation/' + eyon.eyon.toLowerCase()) Sound

			li
				a(class ='btn btn-primary ae' href = '/video/nation/' + eyon.eyon.toLowerCase()) Video
