extends ../layouts/name_layout

block content


	.alphabet-list
		
		ul
			li
				a(href ='/name/animal/' + eyon + '/alphabet/a') A
			li
				a(href ='/name/animal/' + eyon + '/alphabet/b') B
			li
				a(href ='/name/animal/' + eyon + '/alphabet/c') C
			li
				a(href ='/name/animal/' + eyon + '/alphabet/d') D
			li
				a(href ='/name/animal/' + eyon + '/alphabet/e') E
			li
				a(href ='/name/animal/' + eyon + '/alphabet/f') F
			li
				a(href ='/name/animal/' + eyon + '/alphabet/g') G
			li
				a(href ='/name/animal/' + eyon + '/alphabet/h') H
			li
				a(href ='/name/animal/' + eyon + '/alphabet/i') I
			li
				a(href ='/name/animal/' + eyon + '/alphabet/j') J
			li
				a(href ='/name/animal/' + eyon + '/alphabet/k') K
			li
				a(href ='/name/animal/' + eyon + '/alphabet/l') L
			li
				a(href ='/name/animal/' + eyon + '/alphabet/m') M
			li
				a(href ='/name/animal/' + eyon + '/alphabet/n') N
			li
				a(href ='/name/animal/' + eyon + '/alphabet/o') O
			li
				a(href ='/name/animal/' + eyon + '/alphabet/p') P
			li
				a(href ='/name/animal/' + eyon + '/alphabet/q') Q
			li
				a(href ='/name/animal/' + eyon + '/alphabet/r') R
			li
				a(href ='/name/animal/' + eyon + '/alphabet/s') S
			li
				a(href ='/name/animal/' + eyon + '/alphabet/t') T
			li
				a(href ='/name/animal/' + eyon + '/alphabet/u') U
			li
				a(href ='/name/animal/' + eyon + '/alphabet/v') V
			li
				a(href ='/name/animal/' + eyon + '/alphabet/w') W
			li
				a(href ='/name/animal/' + eyon + '/alphabet/x') X
			li
				a(href ='/name/animal/' + eyon + '/alphabet/y') Y
			li
				a(href ='/name/animal/' + eyon + '/alphabet/z') Z
