extends ../layouts/name_layout

block content
	.name-detail
		h1= title

		.col-alpha
			p 
				a(href ='/' + eyon + '/name/alphabet/a') A

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/b') B

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/c') C

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/d') D

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/e') E

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/f') F

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/g') G

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/h') H

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/i') I

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/j') J

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/k') K

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/l') L

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/m') M
		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/n') N

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/o') O

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/p') P

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/q') Q

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/r') R

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/s') S

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/t') T

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/u') U

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/v') V

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/w') W

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/x') X

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/y') Y

		.col-alpha
			p
				a(href ='/' + eyon + '/name/alphabet/z') Z




