extends ../layouts/name_layout

block content
	.name-detail
		h1= title

		p
			a(href ='/a') A
		p
			a(href ='/a') B
		p
			a(href ='/a') C
		p
			a(href ='/a') D
		p
			a(href ='/a') E
		p
			a(href ='/a') F
		p
			a(href ='/a') G