extends ../../name_layout

block content

	.name-delete
		h1=title
		
		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')

			p.delete Do you want to remove this name, #{'Yusuf'}? 

			button(type ='submit' , title ='Confirm') Confirm