extends ../user_layout

block content

	.add-entry

		ul

			li
				a(href = '/delete/art' class ='btn btn-primary ae') Art

			li
				a(href = '/delete/book' class ='btn btn-primary ae') Book

			li
				a(href = '/delete/dress' class ='btn btn-primary ae') Dress

			li
				a(href = '/delete/festival' class ='btn btn-primary ae') Festival

			li
				a(href = '/delete/folktale' class ='btn btn-primary ae') Folktale

			li
				a(href = '/delete/food' class ='btn btn-primary ae') Food

			li
				a(href = '/delete/history' class ='btn btn-primary ae') History

			li
				a(href = '/delete/individual' class ='btn btn-primary ae') Individual

			li
				a(href = '/delete/law' class ='btn btn-primary ae') Law

			li
				a(href = '/delete/legend' class ='btn btn-primary ae') Legend

			li
				a(href = '/delete/life' class ='btn btn-primary ae') Life

			li
				a(href = '/delete/mythology' class ='btn btn-primary ae') Mythology

			li
				a(href = '/delete/name' class ='btn btn-primary ae') Name

			li
				a(href = '/delete/photo' class ='btn btn-primary ae') Photo

			li
				a(href = '/delete/proverb' class ='btn btn-primary ae') Proverb

			li
				a(href = '/delete/religion' class ='btn btn-primary ae') Religion

			li
				a(href = '/delete/sound' class ='btn btn-primary ae') Sound

			li
				a(href = '/delete/video' class ='btn btn-primary ae') Video
