extends ../../layout

block content

	.comment-delete
		
		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')

			p.del Do you want to delete or remove this comment , #{comment.comment.text}? 

			button(type ='submit' , title ='Confirm' class ='btn btn-primary float-right px-4') Confirm