extends ../../layout

block content

	.dress-delete
		
		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')

			p.del Do you want to delete or remove this dress, #{dress.title}? 

			button(type ='submit' , title ='Confirm' class ='btn btn-primary float-right px-4') Confirm