mixin header

	header(id = 'header')

		h1 #{title}

		nav(id ='nav')
		
			ul

				li
					a(href ='/') Home

				li
					a(href ='/country') Country

				li
					a(href ='/nation') People
				
				if isLoggedIn
					li
						a(href ='/user/dashboard') Dashboard