include ../../includes/page

doctype html
html
	head
		title 
			if title
				| #{title} - 
			| Aye Mi

		+headSection
	
	body

		.container

			+header

			main(id ='main')

				block content


			+footer

		

